################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VbToNet/CopilotIndices/17.14.1584.41681
